a {
  text-decoration: none;
  color: black;
}
label {
  margin-bottom: 5px;
}
input,
select {
  display: block;
  padding: 5px;
  min-height: 20px;
  min-width: 250px;
  margin-bottom: 10px;
}
button {
  padding: 10px;
  cursor: pointer;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 10px;
}

#edit-form {
  display: none;
}
#anime-details {
  margin-bottom: 15px;
}
.actions {
  display: flex;
  gap: 10px;
}
